---
import Hamburger from "./Hamburger.astro";
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <Hamburger />
    <Menu />
    <Navigation />
  </nav>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const hamburger = document.querySelector(".hamburger");
      const navLinks = document.querySelector(".nav-links");

      if (!hamburger || !navLinks) return;

      hamburger.addEventListener("click", () => {
        navLinks.classList.toggle("expanded");
      });
    });
  </script>
</header>
